* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    background-color: lightblue;
    padding: 20px 0;
}

.items {
    display: flex;
    margin: 20px 0;
    overflow-x: auto;
}
.card {
    width: 300px;
    height: 250px;
    background-color: blue;
    margin: 0 10px;
    flex-shrink: 0;
}